.chart-group {
    .header {
        display: flex;
        margin: 10px auto;

        .title {
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #595959;
            padding-left: 10px;
            font-size: 24px;
            letter-spacing: -0.6px;
            line-height: 36px
        }

        .view-all {
            margin-right: 10px;
        }
    }

    .chart-items {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
    }
}
